  <mat-toolbar color="#424242">
    <mat-toolbar-row>
      <h2 class="title">Peek!t</h2>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="main-container">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened *ngIf="showMenu">
      <div class="menu-group">
        <div class="logo-menu-group">
          <img class="logo" src="assets/logo.png" />
          <h2 class="title">Peek!t</h2>
          <mat-divider></mat-divider>

          <mat-nav-list>
            <mat-list-item>
              <button mat-button class="menu-button">
                <mat-icon>home</mat-icon>
                <span> Home</span>
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button class="menu-button">
                <mat-icon>person</mat-icon>
                <span> Profile</span>
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button class="menu-button">
                <mat-icon>people</mat-icon>
                <span> Users</span>
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span> About</span>
              </button>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div class="">
          <mat-nav-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button mat-button class="menu-button" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                <span> Logout</span>
              </button>
            </mat-list-item>
          </mat-nav-list>
        </div>
      

        <div class="">
          <mat-nav-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button mat-button class="menu-button last-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
              </button>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>

    </mat-sidenav>
    <mat-sidenav-content class="content-body">
      <div style="height: 92vh">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
