
<mat-card class="main">
  <mat-card-title>
    Comments:
  </mat-card-title>
  
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngFor="let comment of data;last as last">
      <mat-card>
        <div *ngIf="comment.authorProfilePhoto != undefined">
          <img mat-card-avatar src="{{comment.authorProfilePhoto}}">
          {{comment.authorName}}
        </div>

        <div *ngIf="comment.authorProfilePhoto == undefined">
          <img mat-card-avatar src="https://via.placeholder.com/150">
        </div>
        <br />
        <div>
          {{comment.message}}
        </div>
        <br />
        <mat-divider></mat-divider>

      </mat-card>
      <br />
    </div>
    <mat-card class="main">
      <br />
      <div class="main">
        <form class="comment-form" (ngSubmit)="sendComment(peekId)" name="commentForm" [formGroup]="commentForm">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Comment!t</mat-label>
            <textarea formControlName="comment" matInput placeholder="I think that..."></textarea>
          </mat-form-field>
        <br />
          <button mat-stroked-button class="example-full-width" color="primary">
            <mat-icon>send</mat-icon>  Comment!t
          </button>
        </form>
      </div>
      <mat-divider></mat-divider>

    </mat-card>

  </mat-card-content>
</mat-card>
