<mat-card>
  <mat-card-actions>
    <div class="peek-footer">
      <button mat-button class="peek-buttons" color="primary"><mat-icon>network_wifi</mat-icon> Worldwide</button>
      <mat-divider [vertical]="true"> </mat-divider>
      <button mat-button class="peek-buttons" color="primary" disabled><mat-icon fontIcon="people"></mat-icon>Followed</button>
      <mat-divider [vertical]="true"> </mat-divider>
      <button mat-button class="peek-buttons" color="primary" disabled><mat-icon fontIcon="person"></mat-icon> Mine</button>
    </div>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br />

    <div *ngFor="let peek of worldwidePeeks; last as last">
      <mat-card>
        <div *ngIf="peek.authorProfilePhoto != undefined">
          <img mat-card-avatar src="{{peek.authorProfilePhoto}}">
          {{peek.authorName}}
        </div>

        <div *ngIf="peek.authorProfilePhoto == undefined">
          <img mat-card-avatar src="https://via.placeholder.com/150">
          {{peek.authorName}}
        </div>
        <br />
        <div>
          {{peek.message}}
        </div>
        <br />
        <mat-divider></mat-divider>
        <mat-card-actions>
          <div class="peek-footer">
            <button *ngIf="!peek.liked" (click)="onLike(peek.id)" mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> {{peek.likesCount}}</button>
            <button *ngIf="peek.liked" (click)="onUnlike(peek.id)" mat-button class="peek-buttons" color="grey"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> {{peek.likesCount}}</button>
            <button  *ngIf="!peek.commentsShowed" mat-button (click)="onGetComments(peek.id)" class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon> {{peek.commentsCount}}</button>
            <button  *ngIf="peek.commentsShowed" mat-button (click)="onHideComments(peek.id)" class="peek-buttons" color="grey"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon> {{peek.commentsCount}}</button>
          </div>
        </mat-card-actions>
        <app-comment-modal *ngIf="peek.commentsShowed" [data]="peek.comments"></app-comment-modal>
      </mat-card>
    </div>

  </mat-card-content>
</mat-card>


