<mat-card>
  <mat-card-title>
    Peeks
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br />
    <mat-card>
      <div>
        <img mat-card-avatar src="https://via.placeholder.com/150">
        Fulano de Tal
      </div>
      <br />
      <div>
        Exemplo de peek , por acaso , qualquer coisa , nao importa , so escreve um pouco e já esta.
      </div>
      <br />
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div class="peek-footer">
          <button mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> Like</button>
          <button mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon> Comments</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <div>
        <img mat-card-avatar src="https://via.placeholder.com/150">
        Fulano de Tal
      </div>
      <br />
      <div>
        Exemplo de peek , por acaso , qualquer coisa , nao importa , so escreve um pouco e já esta.
      </div>
      <br />
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div class="peek-footer">
          <button mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> Like</button>
          <button mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon> Comments</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <div>
        <img mat-card-avatar src="https://via.placeholder.com/150">
        Fulano de Tal
      </div>
      <br />
      <div>
        Exemplo de peek , por acaso , qualquer coisa , nao importa , so escreve um pouco e já esta.
      </div>
      <br />
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div class="peek-footer">
          <button mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> Like</button>
          <button mat-button class="peek-buttons" color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon> Comments</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

</mat-card>
