<mat-card>
  <mat-card-title>
    You should like:
  </mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-content>
    <div class="content-body">
      <!--<div *ngFor="let peek of peeksSugestion; last as last">-->
      <mat-card>

        <div class="content-line">
          <img src="https://via.placeholder.com/150" alt="Alternate Text" /> <div class="name">Publicity</div>
          <button mat-stroked-button class="follow">
            <mat-icon>visibility</mat-icon>
            <span class="mdc-button__label">See</span>
          </button>
        </div>
        <div class="content-line">
          Presenting product publicity text. Get known now. Annouce here !
        </div>
      </mat-card>
      <br />
      <mat-card>

        <div class="content-line">
          <img src="https://via.placeholder.com/150" alt="Alternate Text" /> <div class="name">Publicity</div>
          <button mat-stroked-button class="follow">
            <mat-icon>visibility</mat-icon>
            <span class="mdc-button__label">See</span>
          </button>
        </div>
        <div class="content-line">
          Presenting product publicity text. Get known now. Annouce here !
        </div>
      </mat-card>
      <br />
    </div>
    <!--</div>-->
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions style="text-align: center;">
    Show more
  </mat-card-actions>
</mat-card>

