.content{
    display:flex;
    flex-direction: row;
    width: 80%;
    max-width: 70%;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 25px;
}

.sugestions {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 25px;
}
