<mat-card>
  <mat-card-title>
    You should know:
  </mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-content>
    <div class="content-body">
      <div class="content-line">
        <img class="avatar" src="https://via.placeholder.com/50" alt="Alternate Text" /> Fulano de Tal
        <button class="mdc-button mdc-button--outlined">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Add</span>
        </button>
      </div>
      <mat-divider></mat-divider>

      <div class="content-line">
        <img class="avatar" src="https://via.placeholder.com/50" alt="Alternate Text" /> Fulano de Tal
        <button class="mdc-button mdc-button--outlined">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Add</span>
        </button>
      </div>
      <mat-divider></mat-divider>

      <div class="content-line">
        <img class="avatar" src="https://via.placeholder.com/50" alt="Alternate Text" /> Fulano de Tal
        <button class="mdc-button mdc-button--outlined add">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Add</span>
        </button>
      </div>
      <mat-divider></mat-divider>

    </div>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions style="text-align: center;">Show more</mat-card-actions>
</mat-card>
