.avatar{
    border-radius:50%;
}

.content-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content-body {
  display: flex;
  flex-direction: column;
}

.add{
    align-self:end;
}

